.category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  margin-top: 36px;
}

.category-filter-button {
  border: none;
  background: none;
  padding: 0;

  color: var(--color-primary);
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  text-transform: uppercase;

  cursor: pointer;
}

.category-filter-button.active {
  color: var(--color-accent);
}